* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.container__ba-grid,
container__img {
  width: 100%;
}
.container--1-2 {
  float: left;
  padding-left: 20px;
  width: 50%;
  clear: none;
}
.container__nopad {
  padding-left: 0;
}
.container__ba-grid + .container__ba-grid {
  margin-top: 20px;
}
.container--1-3 {
  float: left;
  padding-left: 20px;
  width: 33.33%;
  clear: none;
}
.container--1-6 {
  float: left;
  padding-left: 20px;
  width: 16.665%;
  clear: none;
}
.container__ba-grid:after {
  clear: both;
}
.container__ba-grid:before,
.container__ba-grid:after {
  content: " ";
  display: table;
}
